<footer>
  <p>
    Æ<br />
    Warframe 문서
  </p>
</footer>

<style>
  footer {
    margin-top: 4rem;
    padding: 2rem 0;
    text-align: center;
    opacity: 0.6;
    font-size: 0.9rem;
  }

  footer p {
    margin: 0;
    line-height: 1.6;
  }
</style>
